* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
body {
  background-color: #F5F5F5;
}
header {
  width: 100%;
  height: 20rem;
  background: url(../img/bg1.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
}
header .shang {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
}
header .shang a {
  height: 5rem;
  display: flex;
  flex-direction: column;
}
header .shang a img {
  width: 2rem;
  height: 2rem;
  margin-top: 2rem;
  margin-right: 2.5rem;
}
header .xia {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
header .xia img {
  width: 5.5rem;
  height: 5.5rem;
}
header .xia p {
  font-size: 1.5rem;
  width: 7rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 1px solid white;
  color: white;
}
ul {
  width: 100%;
  background-color: #FFFFFF;
}
ul li {
  width: 100%;
  height: 5rem;
  background: url(../img/right.png) no-repeat 34rem;
  background-size: 1rem;
  display: flex;
}
ul li img {
  width: 2rem;
  height: 2rem;
}
ul li a {
  color: #666666;
  width: 90%;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #e1dddd;
  margin-left: 1.5rem;
}
